*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;

  }

  .top {
  width:100%;


  }

  /*Header buttons */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #0040ad;
  }

  li a:hover:not(.active) {
    background-color: #0561ff;
  }