<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<header>

    <div class="top-bar">
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/free.png'}">
            <label class="top-label">Darmowa dostawa</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/calendar.png'}">
            <label class="top-label">Natychmiastowa realizacja</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/car.png'}">
            <label class="top-label">Dowóz autochłodniami</label>
        </div>

    </div>

    <nav class="nav-bar">

        <ul class="nav-links">
            <!--        <li><a href="index" target="blank">Strona Główna</a></li>-->
            <li><a href="#" target="blank">Diety</a></li>
            <li><a href="#" target="blank">Cennik</a></li>
        </ul>
        <a href="index" target="blank"><img src="images/logo.png" alt="Logo" class="logo-img"></a>
        <ul class="nav-links">
            <li><a href="#" target="blank">Kontakt</a></li>
            <li><a href="login" target="blank">Logowanie</a></li>
        </ul>
    </nav>


</header>
<main>


    <div class="diet-changer">
        <select class="form-control" th:field="${foodList}">
            <option value="0">Wybierz dietę do edycji</option>
            <option th:each="food : ${foodList}" th:value="${food.getIdx()}" th:text="${food.getNameDisplay()}"></option>
        </select>
    </div>
    <div class="table">
        <table >
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Numer Telefonu</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
                <th>Ulica i numer budynku</th>
                <th>Login</th>
                <th>Hasło</th>
                <th>Rola</th>
                <th>Aktywne konto</th>
            </tr>
            <tr th:each="person : ${personsList}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.surname}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.phoneNumber}"></td>
                <td th:text="${person.postCode}"></td>
                <td th:text="${person.city}"></td>
                <td th:text="${person.streetAndNumber}"></td>
                <td th:text="${person.login}"></td>
                <td th:text="${person.password}"></td>
                <td th:text="${person.role}"></td>
                <td th:text="${person.enabled}"></td>
            </tr>
        </table>
    </div>

    



    <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    
    
    
    
</main>

<footer>


</footer>
</body>
</html>