<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cart-content-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class="flex-wrapper">

    <header th:replace="fragments/topnav.html :: navbar"></header>


    <main>
        <div class="cart-headline">
            <h2>Koszyk</h2>
        </div>
        <div class="cart-container">
            <div th:each="food : ${foodList}" class="cartContent-outer">
                <img th:src="'images/food_img/' + ${food.getImgLink()}" alt="brak zdjęcia" class="cartContentImg">
                <div class="cartContent">
                    <!--                    <span class="cartContentName"></span>-->
                    <span th:text="'Dieta '+ ${food.getNameDisplay()}" class="cartContentName"></span>
                    <!--                    <div class="tooltip">-->
                    <span th:text="${food.getDescription()}" class="tooltiptext"></span>
                    <!--                    </div>-->
                    <p th:text="${food.getPrice()} + ' zł'" class="cartPrice"></p>
                    <a th:href="${'/diets/cart/delete?id='+ {#ids.seq('')}}"
                       class="button-cartContent redButton">Usuń</a>
                </div>
            </div>

            <div class="cartSummary">
                <h3>Podsumowanie</h3>
                <p>
                    <span th:text="${summary}"></span><span> zł</span>
                </p>
                <div>
                    <a th:href="${'/order'}" class="button-cartContent">Zamów</a>
                    <a th:href="${'/cancel'}" class="button-cartContent redButton">Anuluj</a>
                </div>
            </div>
        </div>

    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>

