<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="shop-content-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="top-bar">
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/free.png'}">
            <label class="top-label">Darmowa dostawa</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/calendar.png'}">
            <label class="top-label">Natychmiastowa realizacja</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/car.png'}">
            <label class="top-label">Dowóz autochłodniami</label>
        </div>

    </div>

    <nav class="nav-bar">

        <ul class="nav-links">
            <!--        <li><a href="index" target="blank">Strona Główna</a></li>-->
            <li><a href="diets" target="blank">Diety</a></li>
            <li><a href="price-list" target="blank">Cennik</a></li>
        </ul>
        <a href="index" target="blank"><img src="images/logo.png" alt="Logo" class="logo-img"></a>
        <ul class="nav-links">
            <li><a href="kontakt" target="blank">Kontakt</a></li>
            <li>

                <!--                //-->
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="images/user-drop.png" alt="Login" class="user-drop-img">
                    </button>
                    <div class="dropdown-content">
<!--                        <div class="header">-->
<!--                        </div>-->
                        <div class="row">
                            <div class="column">
                                <a sec:authorize="!isAuthenticated()" href="login">Logowanie</a>
                                <a sec:authorize="!isAuthenticated()" href="registry">Rejestracja</a>
                                <a sec:authorize="isAuthenticated()" href="#">Ustawienia</a>
                                <a sec:authorize="isAuthenticated()" href="cart">Koszyk</a>
                                <a sec:authorize="isAuthenticated()" href="#">Historia</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="" href="/admin">Admin panel</a>
                                <form sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}" method="post">
                                    <input type="submit" value="Wyloguj"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                //-->
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="shop-headline">
        <h2>Poznaj nasze diety!</h2>
    </div>
    <div class="shop-container">
        <div th:each="food : ${foodList}" class="shopContent-outer">
            <img th:src="'images/food_img/' + ${food.getImgLink()}" alt="brak zdjęcia" class="shopContentImg">
            <div class="shopContent">
                <span class="shopContentName">Dieta</span><br>
                <span th:text="${food.getNameDisplay()}" class="shopContentName"></span><br>
                <div class="tooltip">Więcej info
                    <span th:text="${food.getDescription()}" class="tooltiptext"></span>
                </div>
                <p th:text="${food.getPrice()} + ' zł'"></p><br>
                <a sec:authorize="isAuthenticated()" th:href="${'/diets/cart?id='+food.id}" class="button-shopContent">Zamów</a>
            </div>
        </div>

    </div>
</main>

<footer class="footer-core">
    <div class="footer-outer">
        <div class="footer-content">
            <div class="footer-links">
                <h3 class="footer-title">linki</h3>
                <ul class="footer-links-list">
                    <li><a href="#">Dlaczego my</a></li>
                    <li><a href="#">Promocje</a></li>
                    <li><a href="diets">Diety</a></li>
                    <li><a href="price-list">Cennik</a></li>
                    <li><a href="#">Karta Podarunkowa</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Regulamin</a></li>
                    <li><a href="#">Polityka prywatności</a></li>
                    <li><a href="kontakt">Kontakt</a></li>
                </ul>
            </div>
            <div class="payment-methods">
                <h3 class="footer-title">metody płatności</h3>
                <ul class="payment-list">
                    <il class="payment-item"><img src="/images/payment-methods/Przelewy2440.png" alt="przelewy"></il>
                    <li class="payment-item"><img src="/images/payment-methods/blik.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/visa.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/electron-40.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/mastercard.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/maestro.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/3dsec.png" alt="przelewy"></li>
                    <li class="payment-item"><img src="/images/payment-methods/bnpparibas.png" alt="przelewy"></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="copyright-footer">
        <p>© Copyright 2021 catering dietetyczny; Wszystkie prawa zastrzeżone.</p>
        <p>Projekt i wykonanie: <span>Patryk Likus, Łukasz Stasiak, Jakub Czuchański</span></p>
    </div>
</footer>
</body>
</html>

