<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <ul>
                <li><a href="index.html" target="blank">Strona Główna</a></li>
                <li><a href="diety.html" target="blank">Diety</a></li>
                <li><a href="cennik.html" target="blank" >Cennik</a></li>
                <li><a href="kontakt.html" target="blank">Kontakt</a></li>
                <li><a href="zamowienie.html" target="blank">Zamówienie</a></li>
            </ul>
        </div>
        <div class="header">

        </div>

        <div class="diets">

        </div>
    </div>

</body>
</html>