<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="progresBar.css">
    <link rel="stylesheet" href="index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<header th:replace="fragments/topnav.html :: navbar"></header>


<main>

    <div class="mainPanel">
        <img class="mainPanel-img" th:src="@{'/images/indexfood.png'}">
        <div class="mainPanel-content">
            <h1 class="mainPanel-title">Nasza dieta jest dla Ciebie</h1>
            <div class="mainPanel-txt">
                <p>Chcesz zadbać o swoją sylwetkę? Zrzucić zbędne kilogramy? Pomożemy Ci.</p>
                <p>Stawiamy na najlepsze jakościowo posiłki. <br>
                    Dzięki zbilansowanej i zdrowej diecie efekty zauważysz już po tygodniu.
                    Mamy do zaoferowania starannie skomponowane posiłki, które na pewno Tobie zasmakują.
                </p>
                <p>Udogodnienia: Bezpłatna dostawa, Możliwość odwołania, dostawy nawet dzień przed.</p>
                <p>Ad adipisci animi at beatae dolores doloribus exercitationem fugiat ipsam iure, nostrum pariatur
                    quo repellat repellendus sapiente soluta unde voluptatibus! Animi autem beatae, cumque dolore
                    laborum perspiciatis recusandae sed unde?
                </p>
                <p>Aspernatur assumenda beatae exercitationem fugiat neque nulla perspiciatis placeat ratione velit
                    veniam? Adipisci commodi in ipsam laborum nisi numquam officiis provident quasi reprehenderit totam.
                    Doloremque, perferendis possimus! Distinctio, possimus quae.
                </p>

            </div>
        </div>
    </div>

    <div class="mainPanel">
        <div class="mainPanel-content">
            <h1 class="mainPanel-title">Nasza dieta jest dla Ciebie</h1>
            <div class="mainPanel-txt">
                <p>Chcesz zadbać o swoją sylwetkę? Zrzucić zbędne kilogramy? Pomożemy Ci.</p>
                <p>Stawiamy na najlepsze jakościowo posiłki. <br>
                    Dzięki zbilansowanej i zdrowej diecie efekty zauważysz już po tygodniu.
                    Mamy do zaoferowania starannie skomponowane posiłki, które na pewno Tobie zasmakują.
                </p>
                <p>Udogodnienia: Bezpłatna dostawa, Możliwość odwołania, dostawy nawet dzień przed.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus, eligendi eum facilis,
                    id libero nam nulla odio quaerat tempora ullam velit veniam, voluptatem. At deserunt dolore minus
                    odio unde?
                </p>
                <p>Beatae doloribus explicabo minima provident. Magni, placeat, veritatis. Ad adipisci debitis eaque
                    earum harum ipsam ipsum minima quibusdam repellendus similique sunt, tenetur vel veniam! Architecto
                    autem optio quasi repellendus voluptatum.
                </p>


            </div>
        </div>
        <img class="mainPanel-img" th:src="@{'/images/indexfood2.png'}">

    </div>

    <div class="mainPanel">
        <img class="mainPanel-img" th:src="@{'/images/indexfood3.png'}">
        <div class="mainPanel-content">
            <h1 class="mainPanel-title">Nasza dieta jest dla Ciebie</h1>
            <div class="mainPanel-txt">
                <p>Chcesz zadbać o swoją sylwetkę? Zrzucić zbędne kilogramy? Pomożemy Ci.</p>
                <p>Stawiamy na najlepsze jakościowo posiłki. <br>
                    Dzięki zbilansowanej i zdrowej diecie efekty zauważysz już po tygodniu.
                    Mamy do zaoferowania starannie skomponowane posiłki, które na pewno Tobie zasmakują.
                </p>
                <p>Udogodnienia: Bezpłatna dostawa, Możliwość odwołania, dostawy nawet dzień przed.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid, autem blanditiis culpa
                    cum cumque delectus deserunt ducimus eveniet expedita nam nemo odio pariatur qui quod repellat
                    repudiandae vitae voluptas!
                </p>
                <p>A accusamus adipisci amet consequuntur corporis dignissimos dolore dolorem ducimus, eaque
                    exercitationem expedita fuga harum impedit iure labore nesciunt quas quis ratione reprehenderit
                    repudiandae sapiente sequi sint suscipit totam vel!
                </p>

            </div>
        </div>
    </div>


</main>


<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="app.js"></script>
</body>
</html>