<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<header>

    <div class="top-bar">
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/free.png'}">
            <label class="top-label">Darmowa dostawa</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/calendar.png'}">
            <label class="top-label">Natychmiastowa realizacja</label>
        </div>
        <div class="div-top-bar">
            <img class="img-top" th:src="@{'/images/car.png'}">
            <label class="top-label">Dowóz autochłodniami</label>
        </div>

    </div>

    <nav class="nav-bar">

        <ul class="nav-links">
            <!--        <li><a href="index" target="blank">Strona Główna</a></li>-->
            <li><a href="diets" target="blank">Diety</a></li>
            <li><a href="price-list" target="blank">Cennik</a></li>
        </ul>
        <a href="index" target="blank"><img src="images/logo.png" alt="Logo" class="logo-img"></a>
        <ul class="nav-links">
            <li><a href="kontakt" target="blank">Kontakt</a></li>
            <li><a href="account" target="blank">Logowanie</a></li>
        </ul>
    </nav>

</header>
<main>
    <div class="form-login">
        <label class="login">Zaloguj się</label><br><br>
        <form action="/login" method='POST'>
            <label>Email</label>
            <input type='text' name="name" value=''><br><br>
            <label>Hasło</label>
            <input type='password' name="password" value=''><br>
            <br><input name="submit" type="submit" value="zaloguj się">
        </form>
        <a th:href="${'/registry'}">"Załóż konto"</a>
    </div>

</main>

<footer>


</footer>
</body>
</html>