<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class="flex-wrapper">

    <header th:replace="fragments/topnav.html :: navbar"></header>


    <main>
        <div class="form-login">
            <label class="login">Zaloguj się</label><br><br>
            <form action="/login" method='POST'>
                <div th:if="${param.error}" class="error-field">Podany login lub hasło jest nieprawidłowe</div>
                <div th:if="${param.logout}" class="logout-field">Wylogowano pomyślnie</div>
                <label>Login</label>
                <input type='text' name="login" value=''><br><br>
                <label>Hasło</label>
                <input type='password' name="password" value=''><br>
                <br><input name="submit" type="submit" value="zaloguj się">
            </form>
            <a th:href="${'/registry'}">"Załóż konto"</a>
        </div>

    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>

</div>
</body>
</html>