<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class="flex-wrapper">

    <header th:replace="fragments/topnav.html :: navbar"></header>


    <main>
        <div>
        <span>Wylogowano</span>
            <a th:href="${'/login'}">"Zaloguj się ponownie"</a>
        </div>

    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>

</div>
</body>
</html>