<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div class="top">
            <span class="span-top">
          <img class="img-top" th:src="@{'/images/free.png'}"><label class="top-label">Darmowa dostawa</label>
          <img class="img-top" th:src="@{'/images/calendar.png'}"><label class="top-label">Natychmiastowa realizacja</label>
          <img class="img-top" th:src="@{'/images/car.png'}"><label class="top-label">Dowóz autochłodniami</label>
        </span>
        </div>
        <div class="section">
          
        <div class="header">
            <a href="index.html" target="blank">Strona Główna</a><a 
            href="diety.html" target="blank">Diety</a><a 
            href="cennik.html" target="blank" >Cennik</a><a 
            href="kontakt.html" target="blank">Kontakt</a><a 
            href="zamowienie.html" target="blank">Zamówienie</a>
        </div>
        

        </div>
    </div>

</body>
</html>