<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div>

    <form action="#" th:action="@{/saveFood}" th:object="${food}" method="POST">
        <input type="text" th:field = "*{nameDiet}" placeholder="nameDiet">
<!--        <input type="text" th:field = "*{imgLink}" placeholder="imgLink">-->
        <input type="text" th:field = "*{nameDisplay}" placeholder="nameDisplay">
        <input type="number" th:field = "*{price}" placeholder="price">
        <input type="text" th:field = "*{description}" placeholder="description">
        <button type="submit">Zapisz Dietę</button>


    </form>


</div>
</body>
</html>