<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class="flex-wrapper">

    <header th:replace="fragments/topnav.html :: navbar"></header>

    <main>
        <div class="form-registry">
            <label class="login">Zarejestruj się</label><br><br>
            <form action="#" th:action="@{/registry}" method="post">
                <label>Imię</label>
                <input type="text" th:field="${person.name}"><br><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}"/>
                <label>Nazwisko</label>
                <input type="text" th:field="${person.surname}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.surname')}" th:errors="*{person.surname}"/>
                <label>Email</label>
                <input type="email" th:field="${person.email}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}"/>
                <label>Numer telefonu</label>
                <input type="text" th:field="${person.phoneNumber}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.phoneNumber')}"
                   th:errors="*{person.phoneNumber}"/>
                <label>Miasto</label>
                <input type="text" th:field="${person.city}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.city')}" th:errors="*{person.city}"/>
                <label>Ulica i numer budynku</label>
                <input type="text" th:field="${person.streetAndNumber}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.streetAndNumber')}"
                   th:errors="*{person.streetAndNumber}"/>
                <label>Kod pocztowy</label>
                <input type="text" th:field="${person.postCode}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.postCode')}" th:errors="*{person.postCode}"/>
                <label>Login</label>
                <input type="text" th:field="${person.login}"><br>
                <p class="error-field" th:text="${busyLogin}"></p>
                <p class="error-field" th:if="${#fields.hasErrors('person.login')}" th:errors="*{person.login}"/>
                <label>Hasło</label>
                <input type="password" th:field="${person.password}"><br>
                <p class="error-field" th:if="${#fields.hasErrors('person.password')}" th:errors="*{person.password}"/>
                <br><input type="submit" value="Załóż konto">
            </form>
        </div>

    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>