<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dietary Catering</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<header th:replace="fragments/topnav.html :: navbar"></header>


<main>
    <div class="shop-headline">
        <h2>ZALOGOWANO</h2>
    </div>
    <div class="shop-container">
        <div th:each="food : ${foodList}" class="shopContent-outer">
            <img th:src="'images/food_img/' + ${food.getImgLink()}" alt="brak zdjęcia" class="shopContentImg">
            <div class="shopContent">
                <span class="shopContentName">Dieta</span><br>
                <span th:text="${food.getNameDisplay()}" class="shopContentName"></span><br>
                <div class="tooltip">Więcej info
                    <span th:text="${food.getDescription()}" class="tooltiptext"></span>
                </div>
                <p th:text="${food.getPrice()} + ' zł'"></p><br>
                <button class="button-shopContent">Zamów</button>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</main>

<footer>
    <div class="footer-outer">
        <div class="payment-methods">
            <h3>Metody płatności</h3>
            <ul class="payment-list">
                <il><img class="payment-item" src="/images/payment-methods/Przelewy2440.png" alt="przelewy"></il>
                <li><img class="payment-item" src="/images/payment-methods/blik.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/mastercard.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/maestro.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/visa.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/electron-40.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/3dsec.png" alt="przelewy"></li>
                <li><img class="payment-item" src="/images/payment-methods/bnpparibas.png" alt="przelewy"></li>
            </ul>

        </div>

    </div>
</footer>
</body>
</html>

